/*
Comment everything not useful for the current project
*/
/* --- Vendors --- */
/* ---------------------------------- */
/* ==Grillade : Simple Grid System    */
/* ---------------------------------- */
/* Doc : http://grillade.knacss.com */
@media (min-width: 576px) {
  [class*=" grid-"],
  [class^="grid-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    [class*=" grid-"] > *,
    [class^="grid-"] > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; } }
@media (min-width: 576px) {
  .grid,
  .grid--reverse {
    display: flex; }
    .grid > *,
    .grid--reverse > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; }
    .grid.has-gutter > * + *,
    .grid--reverse.has-gutter > * + * {
      margin-left: calc(1rem - 0.01px); }
    .grid.has-gutter-l > * + *,
    .grid--reverse.has-gutter-l > * + * {
      margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *,
    .grid--reverse.has-gutter-xl > * + * {
      margin-left: calc(4rem - 0.01px); } }
@media (min-width: 576px) {
  [class*="grid-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="grid-2"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-2"].has-gutter > * {
      width: calc(100% / 2 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-2"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-2"].has-gutter-l > * {
      width: calc(100% / 2 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-2"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-2"].has-gutter-xl > * {
      width: calc(100% / 2 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="grid-3"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-3"].has-gutter > * {
      width: calc(100% / 3 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-3"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-3"].has-gutter-l > * {
      width: calc(100% / 3 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-3"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-3"].has-gutter-xl > * {
      width: calc(100% / 3 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="grid-4"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-4"].has-gutter > * {
      width: calc(100% / 4 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-4"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-4"].has-gutter-l > * {
      width: calc(100% / 4 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-4"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-4"].has-gutter-xl > * {
      width: calc(100% / 4 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="grid-5"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-5"].has-gutter > * {
      width: calc(100% / 5 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-5"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-5"].has-gutter-l > * {
      width: calc(100% / 5 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-5"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-5"].has-gutter-xl > * {
      width: calc(100% / 5 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="grid-6"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-6"].has-gutter > * {
      width: calc(100% / 6 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-6"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-6"].has-gutter-l > * {
      width: calc(100% / 6 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-6"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-6"].has-gutter-xl > * {
      width: calc(100% / 6 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="grid-7"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-7"].has-gutter > * {
      width: calc(100% / 7 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-7"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-7"].has-gutter-l > * {
      width: calc(100% / 7 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-7"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-7"].has-gutter-xl > * {
      width: calc(100% / 7 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="grid-8"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-8"].has-gutter > * {
      width: calc(100% / 8 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-8"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-8"].has-gutter-l > * {
      width: calc(100% / 8 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-8"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-8"].has-gutter-xl > * {
      width: calc(100% / 8 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="grid-9"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-9"].has-gutter > * {
      width: calc(100% / 9 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-9"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-9"].has-gutter-l > * {
      width: calc(100% / 9 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-9"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-9"].has-gutter-xl > * {
      width: calc(100% / 9 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="grid-10"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-10"].has-gutter > * {
      width: calc(100% / 10 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-10"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-10"].has-gutter-l > * {
      width: calc(100% / 10 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-10"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-10"].has-gutter-xl > * {
      width: calc(100% / 10 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-11"] > * {
    width: calc(100% / 11 - 0.01px); }
  [class*="grid-11"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-11"].has-gutter > * {
      width: calc(100% / 11 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-11"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-11"].has-gutter-l > * {
      width: calc(100% / 11 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-11"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-11"].has-gutter-xl > * {
      width: calc(100% / 11 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-12"] > * {
    width: calc(100% / 12 - 0.01px); }
  [class*="grid-12"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-12"].has-gutter > * {
      width: calc(100% / 12 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-12"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-12"].has-gutter-l > * {
      width: calc(100% / 12 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-12"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-12"].has-gutter-xl > * {
      width: calc(100% / 12 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; } }
.push {
  margin-left: auto !important; }

.pull {
  margin-right: auto !important; }

.item-first {
  order: -1; }

.item-last {
  order: 1; }

[class*="grid-"][class*="--reverse"] {
  flex-direction: row-reverse; }

@media (min-width: 576px) {
  .full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px); }

  .has-gutter > .full {
    width: calc(100% / 1 - 1rem - 0.01px); }

  .has-gutter-l > .full {
    width: calc(100% / 1 - 2rem - 0.01px); }

  .has-gutter-xl > .full {
    width: calc(100% / 1 - 4rem - 0.01px); }

  .one-half {
    flex: 0 0 auto;
    width: calc(100% / 2 - 0.01px); }

  .has-gutter > .one-half {
    width: calc(100% / 2 - 1rem - 0.01px); }

  .has-gutter-l > .one-half {
    width: calc(100% / 2 - 2rem - 0.01px); }

  .has-gutter-xl > .one-half {
    width: calc(100% / 2 - 4rem - 0.01px); }

  .one-third {
    flex: 0 0 auto;
    width: calc(100% / 3 - 0.01px); }

  .has-gutter > .one-third {
    width: calc(100% / 3 - 1rem - 0.01px); }

  .has-gutter-l > .one-third {
    width: calc(100% / 3 - 2rem - 0.01px); }

  .has-gutter-xl > .one-third {
    width: calc(100% / 3 - 4rem - 0.01px); }

  .one-quarter {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.01px); }

  .has-gutter > .one-quarter {
    width: calc(100% / 4 - 1rem - 0.01px); }

  .has-gutter-l > .one-quarter {
    width: calc(100% / 4 - 2rem - 0.01px); }

  .has-gutter-xl > .one-quarter {
    width: calc(100% / 4 - 4rem - 0.01px); }

  .one-fifth {
    flex: 0 0 auto;
    width: calc(100% / 5 - 0.01px); }

  .has-gutter > .one-fifth {
    width: calc(100% / 5 - 1rem - 0.01px); }

  .has-gutter-l > .one-fifth {
    width: calc(100% / 5 - 2rem - 0.01px); }

  .has-gutter-xl > .one-fifth {
    width: calc(100% / 5 - 4rem - 0.01px); }

  .one-sixth {
    flex: 0 0 auto;
    width: calc(100% / 6 - 0.01px); }

  .has-gutter > .one-sixth {
    width: calc(100% / 6 - 1rem - 0.01px); }

  .has-gutter-l > .one-sixth {
    width: calc(100% / 6 - 2rem - 0.01px); }

  .has-gutter-xl > .one-sixth {
    width: calc(100% / 6 - 4rem - 0.01px); }

  .two-thirds {
    flex: 0 0 auto;
    width: calc(100% / 3 * 2 - 0.01px); }

  .has-gutter > .two-thirds {
    width: calc(100% / 3 * 2 - 1rem - 0.01px); }

  .has-gutter-l > .two-thirds {
    width: calc(100% / 3 * 2 - 2rem - 0.01px); }

  .has-gutter-xl > .two-thirds {
    width: calc(100% / 3 * 2 - 4rem - 0.01px); }

  .three-quarters {
    flex: 0 0 auto;
    width: calc(100% / 4 * 3 - 0.01px); }

  .has-gutter > .three-quarters {
    width: calc(100% / 4 * 3 - 1rem - 0.01px); }

  .has-gutter-l > .three-quarters {
    width: calc(100% / 4 * 3 - 2rem - 0.01px); }

  .has-gutter-xl > .three-quarters {
    width: calc(100% / 4 * 3 - 4rem - 0.01px); }

  .five-sixths {
    flex: 0 0 auto;
    width: calc(100% / 6 * 5 - 0.01px); }

  .has-gutter > .five-sixths {
    width: calc(100% / 6 * 5 - 1rem - 0.01px); }

  .has-gutter-l > .five-sixths {
    width: calc(100% / 6 * 5 - 2rem - 0.01px); }

  .has-gutter-xl > .five-sixths {
    width: calc(100% / 6 * 5 - 4rem - 0.01px); } }
/* Responsive Small Breakpoint */
@media (min-width: 576px) and (max-width: 767px) {
  [class*="-small-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-small-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-small-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-small-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }

  [class*="-small-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-small-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-small-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-small-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }

  [class*="-small-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-small-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-small-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-small-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }

  [class*="-small-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-small-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-small-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-small-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); } }
/* --- Base --- */
/* --- * --- */
* {
  box-sizing: border-box; }

/* --- Body --- */
body {
  margin: 0;
  color: #333;
  background-color: #f2f2f2; }

/*Font-face declaration example*/
html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */ }

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4; }

/* --- Layout --- */
.container {
  margin: 0 auto;
  width: 940px; }

@media (max-width: 940px) {
  .container {
    padding: 0 20px;
    width: 100%; } }
header {
  padding-top: 2rem; }

.logo img {
  max-width: 39rem; }

footer {
  margin-top: 2.5rem;
  padding: 1rem 1.4rem 1rem 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #d9d9d9;
  border-top: 1px dashed #333; }
  footer a {
    color: #333;
    text-decoration: none; }
    footer a:hover {
      color: #f00;
      text-decoration: underline; }

/* --- Components --- */
/* --- Nav --- */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 1px dotted #333; }
  .main-nav a {
    color: #333;
    text-decoration: none; }
    .main-nav a:hover, .main-nav a.selected {
      color: #f00;
      text-decoration: underline; }
  .main-nav > a {
    margin-bottom: 2rem; }
    .main-nav > a:not(:first-child) {
      margin-left: 4.5rem; }
  .main-nav .has-children + nav {
    display: none; }
  .main-nav .has-children.selected + .sub-menu {
    display: block;
    order: 2;
    flex-basis: 100%; }
    .main-nav .has-children.selected + .sub-menu > .sub-menu {
      display: none; }

.sub-menu {
  margin: 0;
  padding: 1rem 5px 5px;
  font-size: 1.3rem;
  background-color: #d9d9d9;
  border-top: 1px dotted #333; }
  .sub-menu > a {
    padding-bottom: 5px; }
    .sub-menu > a:not(:last-child):after {
      content: '|';
      display: inline-block;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      color: #333; }

h1 {
  font-size: 1.6rem;
  text-transform: uppercase; }

ol,
ul {
  margin: 20px 0;
  padding-left: 0; }

ul {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  ul ul {
    margin-left: 20px; }

li {
  margin-bottom: 1rem;
  margin-left: 1.6rem; }

/* Forms */
input,
textarea,
select,
button {
  font-size: 1em;
  vertical-align: middle; }

/* Labels */
label {
  display: block; }

/* Inputs */
input[type="text"],
textarea,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #333; }

[type="radio"] + label,
[type="checkbox"] + label {
  display: inline-block; }

/* Textarea */
textarea {
  resize: vertical; }

input[type="submit"],
button {
  cursor: pointer; }

button {
  cursor: pointer; }

a {
  color: #f00;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin: 1rem 0; }

.blog-item-header .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 20rem;
  height: 20rem;
  background-color: #d9d9d9; }
.blog-item-header img {
  max-width: 100%;
  max-height: 100%; }
.blog-item-header h2 {
  margin-top: 0;
  font-size: 1.4rem;
  text-transform: uppercase; }
.blog-item-header a {
  color: #333; }

.read-more {
  padding: 5px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #d9d9d9; }
  .read-more:after {
    content: ' >'; }

.blog-item-tags {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 9px;
  background-color: #d9d9d9;
  text-transform: uppercase;
  font-style: italic; }
  .blog-item-tags a {
    font-family: Arial,sans-serif;
    color: #333; }
    .blog-item-tags a:hover {
      color: #f00; }
    .blog-item-tags a:not(:last-child)::after {
      content: '|';
      padding-right: 5px;
      padding-left: 5px; }
  .blog-item-tags .p-theme {
    font-weight: bold; }

.p-summary p::after {
  content: '[...]';
  color: #f00; }

.item-intro {
  font-size: 1.6rem;
  font-weight: bold; }

.item-content::after {
  content: '';
  display: block;
  clear: both; }
.item-content .img {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem; }

/* --- Pages --- */
.blog-list .blog-item-content {
  padding: 1rem;
  border: 1px dotted transparent; }
  .blog-list .blog-item-content:hover {
    border-color: #f00; }

/* --- Vendors --- */
/*@import "vendors/"*/

/*# sourceMappingURL=styles.css.map */
