/*
Comment everything not useful for the current project
*/
/* --- Vendors --- */
/* ---------------------------------- */
/* ==Grillade : Simple Grid System    */
/* ---------------------------------- */
/* Doc : http://grillade.knacss.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@media (min-width: 576px) {
  [class*=" grid-"],
  [class^="grid-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    [class*=" grid-"] > *,
    [class^="grid-"] > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; } }
@media (min-width: 576px) {
  .grid,
  .grid--reverse {
    display: flex; }
    .grid > *,
    .grid--reverse > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; }
    .grid.has-gutter > * + *,
    .grid--reverse.has-gutter > * + * {
      margin-left: calc(1rem - 0.01px); }
    .grid.has-gutter-l > * + *,
    .grid--reverse.has-gutter-l > * + * {
      margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *,
    .grid--reverse.has-gutter-xl > * + * {
      margin-left: calc(4rem - 0.01px); } }
@media (min-width: 576px) {
  [class*="grid-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="grid-2"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-2"].has-gutter > * {
      width: calc(100% / 2 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-2"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-2"].has-gutter-l > * {
      width: calc(100% / 2 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-2"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-2"].has-gutter-xl > * {
      width: calc(100% / 2 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="grid-3"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-3"].has-gutter > * {
      width: calc(100% / 3 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-3"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-3"].has-gutter-l > * {
      width: calc(100% / 3 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-3"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-3"].has-gutter-xl > * {
      width: calc(100% / 3 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="grid-4"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-4"].has-gutter > * {
      width: calc(100% / 4 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-4"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-4"].has-gutter-l > * {
      width: calc(100% / 4 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-4"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-4"].has-gutter-xl > * {
      width: calc(100% / 4 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="grid-5"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-5"].has-gutter > * {
      width: calc(100% / 5 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-5"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-5"].has-gutter-l > * {
      width: calc(100% / 5 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-5"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-5"].has-gutter-xl > * {
      width: calc(100% / 5 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="grid-6"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-6"].has-gutter > * {
      width: calc(100% / 6 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-6"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-6"].has-gutter-l > * {
      width: calc(100% / 6 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-6"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-6"].has-gutter-xl > * {
      width: calc(100% / 6 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="grid-7"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-7"].has-gutter > * {
      width: calc(100% / 7 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-7"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-7"].has-gutter-l > * {
      width: calc(100% / 7 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-7"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-7"].has-gutter-xl > * {
      width: calc(100% / 7 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="grid-8"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-8"].has-gutter > * {
      width: calc(100% / 8 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-8"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-8"].has-gutter-l > * {
      width: calc(100% / 8 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-8"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-8"].has-gutter-xl > * {
      width: calc(100% / 8 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="grid-9"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-9"].has-gutter > * {
      width: calc(100% / 9 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-9"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-9"].has-gutter-l > * {
      width: calc(100% / 9 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-9"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-9"].has-gutter-xl > * {
      width: calc(100% / 9 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="grid-10"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-10"].has-gutter > * {
      width: calc(100% / 10 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-10"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-10"].has-gutter-l > * {
      width: calc(100% / 10 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-10"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-10"].has-gutter-xl > * {
      width: calc(100% / 10 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-11"] > * {
    width: calc(100% / 11 - 0.01px); }
  [class*="grid-11"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-11"].has-gutter > * {
      width: calc(100% / 11 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-11"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-11"].has-gutter-l > * {
      width: calc(100% / 11 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-11"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-11"].has-gutter-xl > * {
      width: calc(100% / 11 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-12"] > * {
    width: calc(100% / 12 - 0.01px); }
  [class*="grid-12"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-12"].has-gutter > * {
      width: calc(100% / 12 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-12"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-12"].has-gutter-l > * {
      width: calc(100% / 12 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-12"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-12"].has-gutter-xl > * {
      width: calc(100% / 12 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; } }
.push {
  margin-left: auto !important; }

.pull {
  margin-right: auto !important; }

.item-first {
  order: -1; }

.item-last {
  order: 1; }

[class*="grid-"][class*="--reverse"] {
  flex-direction: row-reverse; }

@media (min-width: 576px) {
  .full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px); }

  .has-gutter > .full {
    width: calc(100% / 1 - 1rem - 0.01px); }

  .has-gutter-l > .full {
    width: calc(100% / 1 - 2rem - 0.01px); }

  .has-gutter-xl > .full {
    width: calc(100% / 1 - 4rem - 0.01px); }

  .one-half {
    flex: 0 0 auto;
    width: calc(100% / 2 - 0.01px); }

  .has-gutter > .one-half {
    width: calc(100% / 2 - 1rem - 0.01px); }

  .has-gutter-l > .one-half {
    width: calc(100% / 2 - 2rem - 0.01px); }

  .has-gutter-xl > .one-half {
    width: calc(100% / 2 - 4rem - 0.01px); }

  .one-third {
    flex: 0 0 auto;
    width: calc(100% / 3 - 0.01px); }

  .has-gutter > .one-third {
    width: calc(100% / 3 - 1rem - 0.01px); }

  .has-gutter-l > .one-third {
    width: calc(100% / 3 - 2rem - 0.01px); }

  .has-gutter-xl > .one-third {
    width: calc(100% / 3 - 4rem - 0.01px); }

  .one-quarter {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.01px); }

  .has-gutter > .one-quarter {
    width: calc(100% / 4 - 1rem - 0.01px); }

  .has-gutter-l > .one-quarter {
    width: calc(100% / 4 - 2rem - 0.01px); }

  .has-gutter-xl > .one-quarter {
    width: calc(100% / 4 - 4rem - 0.01px); }

  .one-fifth {
    flex: 0 0 auto;
    width: calc(100% / 5 - 0.01px); }

  .has-gutter > .one-fifth {
    width: calc(100% / 5 - 1rem - 0.01px); }

  .has-gutter-l > .one-fifth {
    width: calc(100% / 5 - 2rem - 0.01px); }

  .has-gutter-xl > .one-fifth {
    width: calc(100% / 5 - 4rem - 0.01px); }

  .one-sixth {
    flex: 0 0 auto;
    width: calc(100% / 6 - 0.01px); }

  .has-gutter > .one-sixth {
    width: calc(100% / 6 - 1rem - 0.01px); }

  .has-gutter-l > .one-sixth {
    width: calc(100% / 6 - 2rem - 0.01px); }

  .has-gutter-xl > .one-sixth {
    width: calc(100% / 6 - 4rem - 0.01px); }

  .two-thirds {
    flex: 0 0 auto;
    width: calc(100% / 3 * 2 - 0.01px); }

  .has-gutter > .two-thirds {
    width: calc(100% / 3 * 2 - 1rem - 0.01px); }

  .has-gutter-l > .two-thirds {
    width: calc(100% / 3 * 2 - 2rem - 0.01px); }

  .has-gutter-xl > .two-thirds {
    width: calc(100% / 3 * 2 - 4rem - 0.01px); }

  .three-quarters {
    flex: 0 0 auto;
    width: calc(100% / 4 * 3 - 0.01px); }

  .has-gutter > .three-quarters {
    width: calc(100% / 4 * 3 - 1rem - 0.01px); }

  .has-gutter-l > .three-quarters {
    width: calc(100% / 4 * 3 - 2rem - 0.01px); }

  .has-gutter-xl > .three-quarters {
    width: calc(100% / 4 * 3 - 4rem - 0.01px); }

  .five-sixths {
    flex: 0 0 auto;
    width: calc(100% / 6 * 5 - 0.01px); }

  .has-gutter > .five-sixths {
    width: calc(100% / 6 * 5 - 1rem - 0.01px); }

  .has-gutter-l > .five-sixths {
    width: calc(100% / 6 * 5 - 2rem - 0.01px); }

  .has-gutter-xl > .five-sixths {
    width: calc(100% / 6 * 5 - 4rem - 0.01px); } }
/* Responsive Small Breakpoint */
@media (min-width: 576px) and (max-width: 767px) {
  [class*="-small-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-small-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-small-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-small-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }

  [class*="-small-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-small-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-small-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-small-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }

  [class*="-small-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-small-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-small-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-small-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }

  [class*="-small-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-small-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-small-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-small-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); } }
/* --- Base --- */
/* --- * --- */
* {
  box-sizing: border-box; }

/* --- Body --- */
body {
  margin: 0;
  color: #4d4d4d; }

/*Font-face declaration example*/
html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */ }

body {
  font-family: Arial, sans-serif;
  font-size: 1.7rem;
  line-height: 1.3; }

/* --- Layout --- */
.container {
  margin: 0 auto;
  width: 940px; }

@media (max-width: 940px) {
  .container {
    padding: 0 20px;
    width: 100%; } }
header {
  padding-top: 3rem;
  padding-bottom: 4rem; }
  header > img {
    display: block;
    margin: 0 auto 3rem; }

.logo img {
  width: 13.5rem; }

.top-bar {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem; }
  @media (max-width: 940px) {
    .top-bar {
      justify-content: space-between; } }

footer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding: 1rem 1.4rem 1rem 8px;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase; }
  footer nav a {
    text-decoration: none; }
    footer nav a:hover {
      text-decoration: underline; }
  footer img {
    width: 2.6rem;
    height: auto; }

aside > div {
  padding: 1rem 1rem 1.5rem;
  background-color: #fef7f6; }
aside a {
  display: block;
  color: #4d4d4d; }
  aside a:not(:last-child) {
    margin-bottom: 1.5rem; }
  aside a:hover {
    color: #e44444; }
  aside a.selected {
    color: #e44444; }

/* --- Components --- */
/* --- Nav --- */
nav a {
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase; }
  nav a, nav a:hover {
    text-decoration: none; }

.main-nav {
  display: flex;
  align-items: center;
  font-size: 1.7rem; }
  .main-nav a {
    margin-left: 2.1rem;
    text-align: center;
    transition: background-color 0.2s ease-in-out; }
    .main-nav a:hover, .main-nav a.selected {
      color: #fff;
      background-color: #e44444; }
    .main-nav a:nth-child(3) {
      padding-right: 2rem;
      padding-left: 2.5rem;
      background-image: url(../images/bg-transmission.svg);
      background-position: 0 center;
      background-repeat: no-repeat; }
      .main-nav a:nth-child(3):hover, .main-nav a:nth-child(3).selected {
        background-image: url(../images/bg-transmission-white.svg); }
  @media (max-width: 940px) {
    .main-nav {
      display: none; } }

.projects-nav {
  display: flex;
  justify-content: center; }
  .projects-nav a {
    font-size: 1.5rem;
    text-align: center; }
    .projects-nav a:after {
      content: '';
      display: block;
      width: 1px;
      height: 1px;
      background-color: transparent;
      transition: all 0.2s ease-in-out; }
    .projects-nav a:not(:first-child) {
      padding-left: 1.5rem;
      border-left: 1px solid #e44444; }
    .projects-nav a:not(:last-child) {
      padding-right: 1.5rem; }
    .projects-nav a:hover:after, .projects-nav a.selected:after {
      width: 100%;
      background-color: #e44444; }
  @media (max-width: 940px) {
    .projects-nav {
      display: none; } }

.mobile-menu-opener {
  font-size: 2rem;
  color: #e44444;
  background: none;
  border: none;
  display: none; }

.mobile-nav {
  position: absolute;
  left: -100vw; }
  .mobile-nav.is-opened {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .mobile-nav .logo {
    margin-bottom: 2rem; }
  .mobile-nav a {
    display: block; }
    .mobile-nav a.selected {
      color: #fff;
      background-color: #e44444; }
  .mobile-nav h2 {
    margin-top: 3rem; }
  .mobile-nav .main a:nth-child(3) {
    padding-right: 2rem;
    padding-left: 2.5rem;
    background-image: url(../images/bg-transmission.svg);
    background-position: center center;
    background-repeat: no-repeat; }
    .mobile-nav .main a:nth-child(3).selected {
      background-image: url(../images/bg-transmission-white.svg); }
  @media (max-width: 940px) {
    .mobile-nav {
      display: block;
      background-color: #fff;
      z-index: 4;
      text-align: center; } }

img {
  max-width: 100%;
  height: auto; }

.logo-rs img {
  width: 3.2rem;
  height: auto; }

h1,
h2,
h3 {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

h1 {
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f2f2f2; }

h2 {
  font-size: 2.1rem;
  font-weight: 600; }

h3 {
  font-size: 1.7rem;
  font-weight: 700; }

ol,
ul {
  margin: 20px 0;
  padding-left: 0; }

ul {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  ul ul {
    margin-left: 20px; }

li {
  margin-bottom: 1rem;
  margin-left: 1.6rem; }

a {
  color: #e44444;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.read-more {
  display: inline-block;
  padding: 2px 5px;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #e44444; }

.news-item {
  position: relative;
  background-color: #f2f2f2; }
  .news-item:nth-child(even) .news-img {
    order: 2; }
  .news-item:nth-child(even) .news-content {
    order: 1; }
  .news-item:nth-child(even) .read-more {
    right: auto;
    left: 0; }
  .news-item:not(:last-child) {
    margin-bottom: 3rem; }
  .news-item h2 {
    margin: 0 0 2rem;
    padding: 7px 1rem;
    font-size: 2.1rem;
    line-height: 1;
    color: #fff;
    background-color: #e44444;
    z-index: 2; }
    .news-item h2 a {
      color: #fff; }
    .news-item h2 span {
      font-size: 1.7rem; }
  .news-item .read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    z-index: 2; }

.news-img {
  position: relative;
  overflow: hidden; }
  .news-img a, .news-img a:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .news-img a:after {
    content: '';
    background-color: #e44444;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; }
  .news-img a:hover:after {
    opacity: .5; }

.news-content {
  padding-bottom: 2rem; }
  .news-content h3 {
    text-transform: uppercase; }
  .news-content > div {
    margin-right: 2rem;
    margin-left: 2rem; }

blockquote {
  margin-bottom: 3rem;
  color: #eb8579;
  text-align: center; }

/* --- Pages --- */
.content {
  padding: 1rem;
  background-color: #f2f2f2; }

.owl-carousel .owl-item img {
  width: auto !important;
  max-width: 100%;
  margin: 0 auto; }

.project-wrapper {
  align-items: flex-start; }

.project-content {
  padding: 1rem;
  background-color: #f2f2f2; }
  .project-content h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase; }
  .project-content h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase; }
  .project-content p {
    margin-top: 0; }
  .project-content span:first-of-type {
    display: block;
    margin-top: 3rem; }

.more-infos {
  margin-top: 2rem;
  padding-top: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  border-top: 1px dotted #4d4d4d; }
  .more-infos h3 {
    margin-bottom: 2rem; }

div[data-featherlight-gallery] .gallery-content + .gallery-content {
  display: none; }

.gallery {
  font-size: 1.4rem; }
  .gallery a {
    text-transform: uppercase; }
    .gallery a div {
      position: relative; }
      .gallery a div:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 4px;
        left: 0;
        background-color: #e44444;
        opacity: 0; }
      .gallery a div:hover:after {
        opacity: .5; }
  .gallery img {
    margin-bottom: 0; }

.lightbox {
  display: none; }

.video-title {
  margin-top: 0;
  display: block; }

.owl-stage {
  display: flex; }

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center; }

.archi .read-more:not(:last-child) {
  margin-bottom: 3rem; }
.archi h2 {
  color: #e44444; }

.archives-item {
  margin-bottom: 2rem;
  min-height: 23rem;
  text-align: center;
  background-color: #e44444; }
  .archives-item a {
    color: #fff; }
    .archives-item a > div {
      position: relative;
      display: flex; }
    .archives-item a:hover .archives-txt {
      opacity: 1; }
  .archives-item .archives-txt {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    height: 100%;
    background-color: rgba(228, 68, 68, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  .archives-item h3 {
    padding: 0.8rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase; }

.archives-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 23rem;
  background-color: #d9d9d9; }

.highlight {
  margin: 3rem 0;
  padding: 1rem 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  .highlight h2 {
    margin-bottom: 2rem; }
  .highlight p {
    margin-top: 0; }

.transmission em {
  color: #e44444; }

.partenaires .logos {
  display: flex;
  flex-wrap: wrap; }
  .partenaires .logos p {
    width: 25%;
    padding-right: 5px;
    padding-left: 5px; }
  .partenaires .logos img {
    display: block;
    max-height: 20rem;
    margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
