@charset "UTF-8";

/*Font-face declaration example*/
//@font-face {
//  font-family: 'MyWebFont';
//  src:  url('myfont.woff2') format('woff2'),
//        url('myfont.woff') format('woff');
//}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* fix */
}

body {
  font-family: $default-font;
  font-size: 1.6rem;
  line-height: 1.3;
}
