@charset "UTF-8";

//Example
//$var: "value" !default;

//Desktop width
$desktop-width: 940px !default;

//Fonts
$default-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !default;

//Colors
$default-color: #333 !default;
$red: #f00;
$grey: #d9d9d9;
