@charset "UTF-8";

//Example
//$var: "value" !default;

//Desktop width
$desktop-width: 940px !default;

//Fonts
$default-font: Arial, sans-serif !default;
$alt-font: 'Open Sans', sans-serif !default;

//Colors
$default-color: rgb(77, 77, 77) !default;
$red: #e44444;
$grey: #d9d9d9;
