@charset "UTF-8";

footer {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 1rem 1.4rem 1rem 8px;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;


    nav a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        width: 2.6rem;
        height: auto;
    }
}
