@charset "UTF-8";

header {
    padding-top: 3rem;
    padding-bottom: 4rem;

    & > img {
        display: block;
        margin: 0 auto 3rem;

        @media (max-width: $desktop-width) {
            display: none;
        }
    }
}

.logo {

    img {
        width: 18rem;
    }
}

.top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media (max-width: $desktop-width) {
        justify-content: space-between;
        align-items: flex-start;
    }
}
