@charset "UTF-8";

header {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.logo {

    img {
        width: 13.5rem;
    }

    @media (max-width: $desktop-width) {
        padding-bottom: 3rem;
        width: 100%;
        text-align: center;
    }
}

.top-bar {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;

    @media (max-width: $desktop-width) {
        flex-wrap: wrap;
    }
}
