@charset "UTF-8";

.blog-item {

}

.blog-item-header {

    .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        width: 20rem;
        height: 20rem;
        background-color: $grey;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    h2 {
        margin-top: 0;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    a {
        color: $default-color;
    }
}

.read-more {
    padding: 5px;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $grey;

    &:after {
        content: ' >';
    }
}

.blog-item-tags {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 9px;
    background-color: $grey;
    text-transform: uppercase;
    font-style: italic;

    a {
        font-family: Arial,sans-serif;
        color: $default-color;

        &:hover {
            color: $red;
        }

        &:not(:last-child) {

            &::after {
                content: '|';
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
    .p-theme {
        font-weight: bold;
    }
}

.p-summary {

    p {

        &::after {
            content: '[...]';
            color: $red;
        }
    }
}
