@charset "UTF-8";

.default-item {

}

.item-intro {
    font-size: 1.6rem;
    font-weight: bold;
}

.item-content {

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    .img {
        float: left;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}
