@charset "UTF-8";

h1,
h2,
h3 {
    margin: 0;
    font-family: $alt-font;
}

h1 {
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

h2 {
    font-size: 2.1rem;
    font-weight: 600;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
}
