@charset "UTF-8";

a {
  color: $red;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}

.read-more {
    display: inline-block;
    padding: 2px 5px;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    background-color: $red;
}
