@charset "UTF-8";

/* --- Nav --- */

nav {

    a {
        padding: 5px;
        font-weight: 700;
        text-transform: uppercase;

        &,
        &:hover {
            text-decoration: none;
        }
    }
}
.main-nav {
    display: flex;
    font-size: 2rem;

    a {
        margin-bottom: 1rem;
        margin-left: 2.1rem;

        &:hover,
        &.selected {
            color: #fff;
            background-color: $red;
        }
    }

    @media (max-width: $desktop-width) {
        flex-wrap: wrap;

        a {
            width: 50%;
            margin-left: 0;
            text-align: center;
        }
    }
}

.projects-nav {
    display: flex;
    justify-content: center;

    a {
        font-size: 1.8rem;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: transparent;
        }

        &:not(:first-child) {
            margin-left: 3rem;
        }

        &:hover,
        &.selected {

            &:after {
                background-color: $red;
            }
        }
    }
}
