@charset "UTF-8";

/* --- Nav --- */

nav {

    a {
        padding: 5px;
        font-weight: 700;
        text-transform: uppercase;

        &,
        &:hover {
            text-decoration: none;
        }
    }
}

.main-nav {
    display: flex;
    align-items: center;
    margin-bottom: 2.6rem;
    font-size: 1.6rem;

    a {
        text-align: center;
        transition: background-color 0.2s ease-in-out;

        &:not(:first-child){
            margin-left: 2.1rem;
        }

        &:hover,
        &.selected {
            color: #fff;
            background-color: $red;
        }

        &:nth-child(3) {
            padding-right: 2rem;
            padding-left: 2.5rem;
            background-image: url(../images/bg-transmission.svg);
            background-position: 0 center;
            background-repeat: no-repeat;

            &:hover,
            &.selected {
                background-image: url(../images/bg-transmission-white.svg);
            }
        }
    }

    @media (max-width: $desktop-width) {
        display: none;
    }


}

.projects-nav {
    display: flex;
    justify-content: center;

    a {
        font-size: 1.5rem;
        text-align: center;

        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 1px;
            background-color: transparent;
            transition: all 0.2s ease-in-out;
        }

        &:not(:first-child) {
            padding-left: 1.5rem;
            border-left: 1px solid $red;
        }
        &:not(:last-child) {
            padding-right: 1.5rem;
        }

        &:hover,
        &.selected {

            &:after {
                width: 100%;
                background-color: $red;
            }
        }
    }

    @media (max-width: $desktop-width) {
        display: none;
    }
}

.mobile-menu-opener {
    font-size: 2rem;
    color: $red;
    background: none;
    border: none;
    border-top: 2px solid $red;
    border-bottom: 2px solid $red;
    display: none;

    @media (max-width: $desktop-width) {
        display: block;
    }
}
.mobile-nav {
    position: fixed;
    left: -100vw;
    top: 0;
    width: 100%;
    padding: 3rem 2rem;

    .top {
        display: flex;
       justify-content: space-between;
       align-items: flex-start;

       button {
           border-top: 2px solid $red;
           border-bottom: 2px solid $red;
           font-size: 2rem;
           color: $red;
       }
    }

    .logo {
        margin-bottom: 2rem;
    }

    a {
        display: block;
        font-size: 1.4rem;

        &.selected {
            color: #fff;
            background-color: $red;
        }
    }

    h2 {
        margin-top: 3rem;
    }

    .main {

        a {
            font-size: 1.6rem;

            &:nth-child(3) {
            padding-right: 2rem;
            padding-left: 2.5rem;
            background-image: url(../images/bg-transmission.svg);
            background-position: center center;
            background-repeat: no-repeat;

                &.selected {
                    background-image: url(../images/bg-transmission-white.svg);
                }
            }
        }
    }

    & > img {
        display: block;
        min-height: 1px;
        margin: 1.5rem 0 2rem;
    }
    
    @media (max-width: $desktop-width) {
        display: block;
        background-color: #fff;
        z-index: 4;
        text-align: center;
    }
}

.menu-is-opened {

    .mobile-nav {
        overflow: scroll;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
