@charset "UTF-8";

/* --- Nav --- */

nav {

    a {
        padding: 5px;
        font-weight: 700;
        text-transform: uppercase;

        &,
        &:hover {
            text-decoration: none;
        }
    }
}
.main-nav {
    display: flex;
    font-size: 2rem;

    a {
        margin-bottom: 1rem;
        margin-left: 2.1rem;
        transition: all 0.2s ease-in-out;

        &:hover,
        &.selected {
            color: #fff;
            background-color: $red;
        }
    }

    @media (max-width: $desktop-width) {
        flex-wrap: wrap;

        a {
            width: 50%;
            margin-left: 0;
            text-align: center;
        }
    }
}

.projects-nav {
    display: flex;
    justify-content: center;

    a {
        font-size: 1.8rem;
        text-align: center;

        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 1px;
            background-color: transparent;
            transition: all 0.2s ease-in-out;
        }

        &:not(:first-child) {
            padding-left: 1.5rem;
            border-left: 1px solid $red;
        }
        &:not(:last-child) {
            padding-right: 1.5rem;
        }

        &:hover,
        &.selected {

            &:after {
                width: 100%;
                background-color: $red;
            }
        }
    }
}
