@charset "UTF-8";

/* --- Nav --- */

nav {

    a {
        padding: 5px;
        font-weight: 700;
        text-transform: uppercase;

        &,
        &:hover {
            text-decoration: none;
        }
    }
}

.main-nav {
    display: flex;
    align-items: center;
    font-size: 1.7rem;

    a {
        // margin-bottom: 1rem;
        margin-left: 2.1rem;
        text-align: center;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &.selected {
            color: #fff;
            background-color: $red;
        }

        &:nth-child(3) {
            padding-right: 2rem;
            padding-left: 2.5rem;
            background-image: url(../images/bg-transmission.svg);
            background-position: 0 center;
            background-repeat: no-repeat;

            &:hover,
            &.selected {
                background-image: url(../images/bg-transmission-white.svg);
            }
        }
    }

    @media (max-width: $desktop-width) {
        display: none;
    }


}

.projects-nav {
    display: flex;
    justify-content: center;

    a {
        font-size: 1.5rem;
        text-align: center;

        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 1px;
            background-color: transparent;
            transition: all 0.2s ease-in-out;
        }

        &:not(:first-child) {
            padding-left: 1.5rem;
            border-left: 1px solid $red;
        }
        &:not(:last-child) {
            padding-right: 1.5rem;
        }

        &:hover,
        &.selected {

            &:after {
                width: 100%;
                background-color: $red;
            }
        }
    }

    @media (max-width: $desktop-width) {
        display: none;
    }
}


.mobile-menu-opener {
    font-size: 2rem;
    color: $red;
    background: none;
    border: none;
    display: none;
}
.mobile-nav {
    position: absolute;
    left: -100vw;

    &.is-opened {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .logo {
        margin-bottom: 2rem;
    }

    a {
        display: block;

        &.selected {
            color: #fff;
            background-color: $red;
        }
    }

    h2 {
        margin-top: 3rem;
    }

    .main {
        a:nth-child(3) {
            padding-right: 2rem;
            padding-left: 2.5rem;
            background-image: url(../images/bg-transmission.svg);
            background-position: center center;
            background-repeat: no-repeat;

            &.selected {
                background-image: url(../images/bg-transmission-white.svg);
            }
        }
    }

    @media (max-width: $desktop-width) {
        display: block;
        background-color: #fff;
        z-index: 4;
        text-align: center;
    }
}
