@charset "UTF-8";

.news-item {
    position: relative;
    background-color: rgb(252, 252, 252);

    &:nth-child(even) {
        .news-img {
            order:2;
        }
        .news-content {
            order:1;
            padding-top: 2rem;
        }
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 1rem;
        width: 50%;
        font-size: 2.1rem;
        color: #fff;
        background-color: $red;
    }

    .read-more {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: auto;
    }
}
