@charset "UTF-8";

.news-item {
    position: relative;
    background-color: rgb(242, 242, 242);

    &:nth-child(even) {
        .news-img {
            order:2;
        }
        .news-content {
            order:1;
            padding-top: 5rem;
        }
        .read-more {
            right: auto;
            left: 0;
        }
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 7px 1rem;
        width: calc(100% / 2 - 0.01px);
        font-size: 2.1rem;
        line-height: 1;
        color: #fff;
        background-color: $red;
        z-index: 2;

        a {
            color: #fff;
        }

        span {
            font-size: 1.7rem;
        }
    }

    .read-more {
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
        z-index: 2;
    }
}

.news-img {
    position: relative;

    a {
        &,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        }

        &:after {
            content: '';
            background-color: $red;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover:after {
            opacity: .5;
        }
    }
}

.news-content {
    padding: 2rem;

    h3 {
        text-transform: uppercase;
    }
}
