{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}

		<section class="blog-list grid-4-small-2 has-gutter">
			{% for child in collection %}
		        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
		    {% endfor %}
		</section>

	{% endblock %}

{% endembed %}
