@charset "UTF-8";

/*
Comment everything not useful for the current project
*/

/* --- Vendors --- */
@import "vendors/grillade";

/* --- Base --- */
@import "base/variables";
@import "base/basics";
@import "base/fonts";

/* --- Layout --- */
@import "layout/container";
@import "layout/header";
@import "layout/footer";
@import "layout/aside";

/* --- Components --- */
@import "components/nav";
@import "components/images";
@import "components/headings";
@import "components/lists";
@import "components/links";
@import "components/news-item";
@import "components/quotes";
@import "components/gallery";

/* --- Pages --- */
@import "pages/default";
@import "pages/projets";
@import "pages/archi";
@import "pages/medias";
@import "pages/archives";
@import "pages/creation";
@import "pages/partenaires";
