@charset "UTF-8";

.archi {


    .read-more {

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    h2 {
        color: $red;
    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    a.selected {
        color: $red;
    }
}
