@charset "UTF-8";

.archi {


    .read-more {

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    h2 {
        color: $red;
    }

    a.selected {
        color: $red;
    }
}
