@charset "UTF-8";

.archives {

}

.archives-item {
    margin-bottom: 2rem;
    min-height: 23rem;
    text-align: center;
    background-color: $red;

    a {
        color: #fff;

        & > div {
            position: relative;
            display: flex;
        }

        &:hover {
            .archives-txt {
                opacity: 1;
            }
        }
    }

    .archives-txt {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 5px;
        height: 100%;
        background-color: rgba($red,.8);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    h3 {
        padding: 0.8rem 0;
        font-size: 1.8rem;
        font-weight: 400;
        // line-height: 3.6rem;
        line-height: 1.2;
        text-transform: uppercase;
    }
}

.archives-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 23rem;
    background-color: $grey;
}
