@charset "UTF-8";

.project-wrapper {
    align-items: flex-start;
}

.project-content {
    padding: 1rem;
    background-color: #f2f2f2;

    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        margin-top: 0;
    }

    span:first-of-type {
        display: block;
        margin-top: 3rem;
    }
}

.more-infos {
    margin-top: 2rem;
    padding-top: 2rem;
    font-family: $alt-font;
    font-size: 1.4rem;
    border-top: 1px dotted $default-color;

    h3 {
        margin-bottom: 2rem;
    }
}


div[data-featherlight-gallery] {
    .gallery-content {
        & + .gallery-content {
            display: none;
        }
    }
}

.gallery {
    font-size: 1.4rem;

    a {
        text-transform: uppercase;

        div {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 4px;
                left: 0;
                background-color: $red;
                opacity: 0;
            }

            &:hover:after {
                opacity: .5;
            }
        }
    }

    img {
        margin-bottom: 0;
    }
}

.lightbox {
    display: none;
}

.video-title {
    margin-top: 0;
    display: block;
}
