@charset "UTF-8";

.project-content {
    padding: 1rem;
    background-color: #f2f2f2;

    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    p {
        margin-top: 0;
    }

    img {
        margin-bottom: 3rem;
    }
}
