@charset "UTF-8";

.project-wrapper {
    align-items: flex-start;
}

.project-content {
    padding: 1rem;
    background-color: #f2f2f2;

    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        margin-top: 0;
    }

    img {
        margin-bottom: 3rem;
    }
}

.more-infos {
    margin-top: 2rem;
    padding-top: 2rem;
    font-family: $alt-font;
    font-size: 1.4rem;
    border-top: 1px dotted $default-color;

    h3 {
        margin-bottom: 2rem;
    }
}
