{% block footer %}
<footer>
    <nav>
        <a href="{{ base_url }}/archives">Archives</a>
        <a href="{{ base_url }}/contact">Contact</a>
        <a href="{{ base_url }}/liens-partenaires">Liens / Partenaires</a>
        <a href="{{ base_url }}/mentions-legales">Mentions légales</a>
    </nav>
</footer>
{% endblock %}
