{% block header %}
<header>
    <div class="top-bar">
        <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-pulx.svg') }}" alt="PulX">
        </a>

        {% block header_navigation %}
        <nav class="main-nav">
            {% include 'partials/_navigation.html.twig' %}
        </nav>
        {% endblock %}
    </div>

    <nav class="projects-nav">
        {% include 'partials/_projects-nav.html.twig' %}
    </nav>
</header>
{% endblock %}
